.landing-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  opacity: 1;
  background-color: rgba(255, 0, 0, 0.2);
  z-index: 100;
}
.carousel-control-next,
.carousel-control-prev,
.carousel-indicators,
.btn .btn-primary {
  z-index: 101;
}
#gmap_canvas {
  width: 90vw;
  height: 50vh; /* The height is 400 pixels */
}
