#landing {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://lh3.googleusercontent.com/-zcivHo_-oDA/WpUHMHWwjZI/AAAAAAAAVQg/7opUSwji9ZM_mgmS5ZUi0MIRBjtMXaKXACLIBGAYYCw/w1080-h608-p-k-no-v0/");
}
