---
layout: page
title: Placements
subtitle: WHY HIRE OUR STUDENTS ?
---
<p>Rantec ITI imparts technical education and practical experience to each of the Students in different departments. Our wide range of equipments and accessories in the laboratories help our students to develop a practical knack to solving issues, in addition to the theoretical concepts. Rantec ITI, takes the privilege of being the number one ITI Institute in the entire Jharkhand due to it's diverse educational content, past Placement records, and one of the finest and biggest laboratories. In addition to the courses and the prescribed syllabus, Students are encouraged to develop skills like English Language, Communication and Co curricular activities, and thus, attain a holistic development.</p>
<h4>NO. OF STUDENTS PLACED</h4>
<p>Every year, more than 100 Students are placed in big and small scale industries, defining the growth and success of our institute. Summing up, so far, more than 4000 Students have been placed in various companies ranging from the Tata Group to Adhunik Steel.</p>    
<h4>COMPANIES WHICH HAVE VISITED OUR CAMPUS IN THE PAST</h4>
<p>Some of the top Companies that have visited our campus and recruited our students are:-</p>

<div class="row d-flex">
    {% assign i=1 %}
    {% for com in site.data.placements %}
    <div class="col-md-3 d-flex">
        <div class="my-auto">
            {% if com.logo contains 'http' %}
            <img class="mx-auto d-block img-fluid" style="max-height: 100px;" src="{{com.logo}}"/>
            {% else %}
            <img class="mx-auto d-block img-fluid" style="max-height: 100px;" src="{{site.baseurl}}/assets/placements/{{com.logo}}"/>
            {% endif %}
            <h5 class="p-5 text-centered">{{com.name}}</h5>
        </div>
    </div>
    {% assign i = forloop.index | modulo: 4 %}
    {% if i == 0 %}
  </div>
  <div class="row d-flex">

    {% endif %}

    {% endfor %}
</div>