<!-- <footer class="footer mt-auto p-5 bg-primary" style="background-image: url('{{site.baseurl}}/assets/footer_bg.svg');"> -->
<footer class="footer mt-auto p-5 bg-primary">
    <div class="container text-light">
      <div class="row">
        <div class="col-md-5">
          <img src="{{site.baseurl}}/assets/icons/broadcast-tower-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          <h2 class="text-white">RANTEC I.T.I.</h2>
        </div>
        <div class="col-md-4 text-white">
          <h4>Contact Us</h4>
          <p><i class="fas fa-home"></i> Adityapur Industrial Area, Adityapur, Jamshedpur, Jharkhand</p>
          <p><a href="tel:06572371024" class="text-white"><i class="fas fa-phone"></i> 0657 237 1024</a></p>
          <p><a href="mailto:ranteciti@gmail.com" class="text-white"><i class="fas fa-envelope"></i> ranteciti@gmail.com</a></p>
        </div>
        <div class="col-md-3 text-white">
          <h4>Courses</h4>
          <a class="text-white" href="{{site.baseurl}}/syllabus/electrician">Electrician</a><br/>
          <a class="text-white" href="{{site.baseurl}}/syllabus/fitter">Fitter</a><br/>
          <a class="text-white" href="{{site.baseurl}}/syllabus/electronics-mechanics">Electronics Mechanics</a><br/>
        <hr/>
          <a class="text-white" href="{{site.baseurl}}/admissions">Admissions</a><br/>
          <a class="text-white" href="{{site.baseurl}}/placements">Placements</a><br/>
          <a class="text-white" href="{{site.baseurl}}/facilities">Facilities</a><br/>
          <a class="text-white" href="{{site.baseurl}}/gallery">Gallery</a><br/>
        </div>
      </div>
    </div>
</footer>