<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">
        <img src="{{site.baseurl}}/assets/icons/broadcast-tower-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        RANTEC I.T.I
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href={{"/"|prepend:site.baseurl}}>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="aboutDropdown">
                    <a class="dropdown-item" href={{"/mission"|prepend: site.baseurl}}>Mission and Vision</a>
                    <a class="dropdown-item" href="{{"/aim"|prepend: site.baseurl}}">Aims and Objectives</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{"/history"|prepend: site.baseurl}}">Our History</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="syllabusDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Syllabus
                </a>
                <div class="dropdown-menu" aria-labelledby="syllabusDropdown">
                    <a class="dropdown-item" href="{{site.baseurl}}/syllabus">Course Offerings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{site.baseurl}}/syllabus/electrician">Electrician</a>
                    <a class="dropdown-item" href="{{site.baseurl}}/syllabus/fitter">Fitter</a>
                    <a class="dropdown-item" href="{{site.baseurl}}/syllabus/electronics-mechanics">Electronics Mechanics</a>
                </div>
            </li>
        </ul>
    </div>
</nav>